.form {
    padding: 5px;
}

.form__fieldset {
    border: 1px solid #000;
    border-radius: 5px;
    padding: 20px;
    margin: 20px 0;
}

.form__legend {
    width: 140px;
    border-radius: 5px;
    background-color: hsl(180, 52%, 77%);
    padding: 10px;
}

.form__labelText {
    width: 100%;
    max-width: 200px;
    display: inline-block;
    margin-right: 5px;
}